h1 {
    font-family: 'Goldman', cursive;
}

.container {
    display: inline-block;
    margin-top: 2rem;
}

.text {
    font-family: 'Goldman', cursive;
    font-size: 20px;
    margin: 2em;
}

.img-Js, .img-html, .img-css {
    margin: 2em;
    width: 300px;
}

.card {
    width: 18rem;
}




